abbrev_defs
emojis
eshell
ido.last
request
.org-id-locations
elpa
games
*.elc
*~
network-security.data
session.*
*/#*
\.#*
*/\.#*
eshell/history
eshell/lastdir
tramp
emacs-custom.el
Gnus
url
xkcd
lisp/yui-mode/*
