.lsp-session-v1
auto-save
auto-save-list
elpa
eshell
straight
emacs-custom.el
eln-cache
request
transient
var
.cache
url
org-persist
elpaca
tree-sitter
recentf
racket-mode
tramp
bookmarks
org-clock-save.el
customs.el
.org-id-locations
org-roam.db
*~
ielm-history.eld
games
multisession
eln-cache
history